<div class="container">
  <table class="table table-striped">
      <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Class</th>
            <th>Label</th>
            <th></th>
            <th></th>
          </tr>
    </thead>
      <tbody>
          <tr *ngFor="let item of items; let rowId = index">
              <td><img class="img-preview"  src="{{item.thumbnail}}" alt=""></td>
              <td>{{getClassName(item.class_id).classname}}</td>
              <td>{{getLabelName(item.label_id).labelname}}</td>
              <td><button id="edit" (click)="editRow(item.id, rowId)">Edit</button></td>
              <td><button id="remove" (click)="deleteRow(item.id, rowId)">Delete</button></td>
          </tr>
      </tbody>
  </table>
  <ul class="pagination justify-content-center">
    <li class="page-item"><a (click)="previousClick()" class="page-link">Previous</a></li>
    <li *ngFor='let index of pageIndexes' class="page-item" [ngClass]="active(index)">
      <a (click)="getPaginationWithIndex(index)" class="page-link">
        {{index}}
      </a>
    </li>
    <li class="page-item"><a (click)="nextClick()" class="page-link">Next</a></li>
  </ul>
</div>
